<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body>
<h1>Welcome</h1>

<nav>
    <h4>public</h4>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/user/register">Register</a></li>
    </ul>
    <h4>User</h4>
    <ul>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/user/update">Update Account</a></li>
        <li><a href="/form">Login</a></li>
    </ul>
    <h4>Admin</h4>
    <ul>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>

</body>
</html>